  .boxs {
    width: 302px;
    border: 1px solid rgb(211, 191, 191);
    border-radius: 14px;
    margin-top: 20px;
  }
  .cardInfo {
    padding: 16px;
  }
  .boxTitle {
    color: rgb(5, 23, 37);
    font-size: 18px;
    font-weight: 500;
  }
  .boxText {
    color: rgb(75, 80, 85);
    font-size: 14px;
    font-weight: 500;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
  .boxImg {
    width: 300px;
    height: 200px;
    border-radius: 14px;
    margin-bottom: 6px;
  }
  .boxsBottom {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .boxsPrice {
    color: rgb(5, 23, 37);
    font-size: 18px;
    font-weight: 500;
    padding: 0px 10px;
    margin-bottom: 0;
  }
  .boxsBtn {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background: #51267d;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;
  }