.clubs-card {
  display: flex;
  align-items: center;
  gap: 40px;
}
.club{
    margin-top: 40px;
}
.clubs {
  width: 302px;
  height: 370px;
  border: 1px solid rgb(211, 191, 191);
  border-radius: 14px;
  margin-top: 20px;
}

.club-title {
  color: rgb(5, 23, 37);
  font-size: 24px;
  font-weight: 500;
  padding: 2px 10px;
}
.club-text {
  color: rgb(75, 80, 85);
  font-size: 16px;
  font-weight: 500;
  padding: 2px 10px;
  width: 240px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.club-img {
  width: 300px;
  height: 200px;
  border-radius: 14px;
  margin-bottom: 6px;
}
.clubs-bottom {
  display: flex;
  align-items: center;
  gap: 40px;
}
.club-price {
  color: rgb(5, 23, 37);
  font-size: 24px;
  font-weight: 500;
  padding: 0px 10px;
}
.club-btn {
  width: 100px;
  height: 40px;
  border-radius: 10px;
  background: #51267d;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
  outline: none;
  border: none;
}
